// Colors
$dark-green: #143601;
$light-green: #245501;
$green: #538d22;
$contrast-light: #73a942;
$contrast-dark: #1a4301;
//fonts
$styled-font: 'Oswald', cursive;
$styled-second-font: 'Monserrat';